body{
    background-image:url(/images/background\ 1.png);
    width: 100%;
    background-size:cover; 
    background-position: center; 
    background-repeat: no-repeat;
    min-height: 100vh;
}
.header {
    margin: 46px 161px auto 161px ;
    display: flex;
    justify-content: space-between;
}
.logo{
    display: flex;
    position: relative;
    height: 47px;
    text-decoration: none;
    color: #FFFFFF;
}
.images{
    height: 47px;
    width: 53px;
}
.change-photo {
   width: 100%;
  height: 100%;
  object-fit: cover;
}

.images .change-photo:nth-of-type(2) {
    display: none;
  }
  .logo:hover .change-photo:nth-of-type(1),
.logo:hover + .change-photo:nth-of-type(1) .name p {
  display: none;
}

.logo:hover .change-photo:nth-of-type(2),
.logo:hover + .change-photo:nth-of-type(2) + .name p {
  display: block;
}
  
  
.name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin-left: 5px;
    line-height: 1;

}
.name p{
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    font-family: "Roboto";
position: relative;
}
.milan{
    font-size: 29px;
    position: absolute; 
    top: -6px;
margin: 0;
}
.holidays{
    font-size: 17px;
position: absolute;
bottom: -2px;
margin: 0%;}

.logo:hover .images ~ .name p {
  color:#F26522 ;
}

.contacts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    color: white;
}
.contacts a{
    font-size: 18px;
    margin: 0%;
    padding: 0%;
    height: fit-content;
}

 .contacts a:hover{
color: #F26522;
 }

.section{
    margin: 30px 161px auto 161px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 15px;

}
.section img {
    width: 300px;
    height: 219px;
}
.section p{
    color: #FFFFFF;
    font-family: 'Roboto';
}
.item{
    position: relative;
margin-bottom: 30px;

}
.background{
    height: 219px;
    width: 300px;
    display: flex;
    align-items: end;
    overflow: hidden; 
    border: 8px solid;
  border-image: linear-gradient(to right, white, black);
  border-image-slice: 1;
}
.bc-1{
    background-image: url(/images/image.png);
}
.bc-2{
    background-image: url(/images/sightseeing\ tours.png);
}
.bc-3{background-image: url(/images/Card\ 3.png);}
.bc-4{ background-image: url(/images/bars.png);}
.bc-5{background-image: url(/images/art.png);}
.bc-6{background-image: url(/images/walking.png);}
.tour{
    position: relative;
    text-decoration: none;
    height: 220px;
}   
.topic{
    position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%); 
  font-size:18px ;
}
    .item-1{
        width: 100%;
        height: 0px;
        display: grid;
        grid-template-columns: 36px 106px;
        grid-template-rows:14px 14px ;
        grid-template-areas: "from ..."
        "price details";
        justify-content: space-between;
        background-color: #F26522;
        padding-right: 15px;
        padding-left:15px;
        transition: all .5s ease-out;
        align-items: center;
        row-gap: 10px;
        overflow: hidden;
    }
.price{
    grid-area:price;
font-size: 20px;
position: relative;
}
.from{
grid-area: from;
font-size: 10px;
position: relative;
}
.details{
    grid-area:details;
    font-size: 14px;
    position: relative;
}
.details::after { 
    content: "";
    position: absolute;
    top: 6px;
    right: 0;
    width: 6px;
    height: 6px;
    border-left: 1px solid transparent;
    border-top: 1px solid white; 
    border-bottom: 1px solid transparent; 
    border-right: 1px solid white; 
    transform: rotate(50deg);
 }
  .item:hover .item-1,
  .item:hover + .item-1 .topic {
    overflow:visible;
     height: 40px;
     padding:10px;
  }
.item:hover .item-1 ~ .topic {
    color:#F26522 ;
  }
  .footer{
    font-family: 'Roboto';
font-size: 12px;
text-align: center;
color: #FFFFFF;
margin-top: 62px;
  }
 